<div class="page-sidebar toggled sidebar">
    <nav class="sidebar-collapse d-none d-lg-block">
        <i class="ion ion-ios-arrow-forward show-on-collapsed"></i>
        <i class="ion ion-ios-arrow-back hide-on-collapsed"></i>
    </nav>
    <ul class="nav nav-pills nav-stacked" id="sidebar-stacked">
        <li class="d-lg-none">
            <a href="#" class="sidebar-close"><i class="ion ion-ios-arrow-left"></i></a>
        </li>
        <li class="nav-item active">
            <a class="nav-container dropdown-toggle" data-toggle="collapse" data-parent="#sidebar-stacked" href="#p2">
                <i class="fa fa-street-view"></i> <span class="nav-text">Clients Active</span>
            </a>
            <ul class="nav nav-pills nav-stacked open" id="p2">
                <li class="nav-item"><a class="nav-link" href="../Operations/Operation1">Honey Badger</a></li>
                <li class="nav-item"><a class="nav-link" href="../Operations/Operation2">Yoda</a></li>
            </ul>
        </li>
        <li class="nav-item active">
            <a class="nav-link" href="index.html"><i class="fa fa-plus"></i> <span class="nav-text">Create Client Route</span></a>
        </li>
        <li class="nav-item active">
            <a class="nav-container dropdown-toggle" data-toggle="collapse" data-parent="#sidebar-stacked" href="#p3">
                <i class="fa fa-history"></i> <span class="nav-text">Past Client Routes</span>
            </a>
            <ul class="nav nav-pills nav-stacked collapse" id="p3">
                <li class="nav-item"><a class="nav-link" href="../Operations/Operation3">Luke Skywalker</a></li>
                <li class="nav-item"><a class="nav-link" href="../Operations/Operation4">Princess Leia</a></li>
            </ul>
        </li>
        <li class="nav-item active">
            <a class="nav-link" href="index.html"><i class="fa fa-map-signs"></i> <span class="nav-text">Standard Routes</span></a>
        </li>
        <li class="nav-item active">
            <a class="nav-link" href="index.html"><i class="ion ion-gear-b"></i> <span class="nav-text">Admin</span></a>
        </li>
    </ul>
</div>