
@{
    ViewData["Title"] = "Client";
}

  
@section Scripts
    {
        <script src="https://js.arcgis.com/4.9/"></script>

        <script>
            require([
                "esri/widgets/Track",
                "esri/views/MapView",
                "esri/Map"
            ], function (
                Track, MapView, Map
            ) {

                    var map = new Map({
                        basemap: "topo"
                    });

                    var view = new MapView({
                        map: map,
                        container: "viewDiv"
                    });

                    // Create an instance of the Track widget
                    // and add it to the view's UI
                    var track = new Track({
                        view: view
                    });
                    view.ui.add(track, "top-left");

                    // The sample will start tracking your location
                    // once the view becomes ready
                    view.when(function () {
                        track.start();
                    });
                });
        </script>
    }   

    <div class="row">
        <div class="col-md-10">
            <h1>Client</h1>
            <div style="height: 400px" id="viewDiv"></div>
        </div>
    </div>