
@{
    ViewData["Title"] = "View";
}


<h2>Create a Route</h2>

<div id="viewDiv"></div>


@section Scripts
    {

    <script src="https://js.arcgis.com/4.9/"></script>

    <script type="text/javascript">

        require([
            "esri/Map",
            "esri/views/MapView",
            "esri/widgets/Directions",
            "esri/widgets/Locate"
        ], function (
            Map,
            MapView,
            Directions,
        Locate) {

                // Proxy the route requests to avoid prompt for log in
                //urlUtils.addProxyRule({
                //    urlPrefix: "route.arcgis.com",
                //    proxyUrl: "http://localhost:57108/proxy.ashx"
                //});

                var map = new Map({
                    basemap: "streets",
                    ground: "world-elevation"
                });

                var view = new MapView({
                    container: "viewDiv",
                    map: map
                });

                var locateBtn = new Locate({
                    view: view
                });

                //var directionsWidget = new Directions({
                //    view: view
                //});

                //// Add the Directions widget to the top right corner of the view
                //view.ui.add(directionsWidget, {
                //    position: "top-right"
                //});

                view.ui.add(locateBtn, {
                    position: "top-left"
                });

            });
    </script>

}



