@{
    ViewData["Title"] = "Home Page";
}
<div class="page-body">
    <div class="container-fluid">
        @Html.Partial("_SideBar")
        <div class="page-content">
            <div class="row">
                <div class="col-md-9 col-sm-8">
                    <div class="card card-default widget">
                        <div class="card-heading">
                            <div class="card-controls">
                                <a href="#" class="widget-minify"><i class="fa fa-chevron-up"></i></a>
                                <a href="#" class="widget-close"><i class="fa fa-times"></i></a>
                            </div>
                            <h3 class="card-title">Operations</h3>
                        </div>
                        <div class="card-body">
                            <!--ArcGIS test-->
                            <div style="height: 400px" id="simple-map-div"></div>
                        </div>
                    </div>
                </div><!-- /.col-md-9 -->
                <div class="col-md-3 col-sm-4">
                    <div class="panel card-default widget">
                        <div class="card-heading">
                            <div class="card-controls">
                                <a href="#" class="widget-minify"><i class="fa fa-chevron-up"></i></a>
                                <a href="#" class="widget-close"><i class="fa fa-times"></i></a>
                            </div>
                            <h3 class="card-title">Operations</h3>
                        </div>
                        <div class="card-body">
                            <div id="chart-pie" class="margin-20" style="height: 300px;"></div>
                            <div class="chart-legend pull-right">
                                <div class="item">
                                    <div class="color background-success"></div> Current
                                </div>
                                <div class="item">
                                    <div class="color background-info"></div> Past
                                </div>
                                <div class="item">
                                    <div class="color background-warning"></div> Future
                                </div>
                            </div>
                        </div>
                    </div>
                </div><!-- /.col-md-3 -->
            </div>
            <footer class="site-footer text-center">
                <p>&copy; 2018 Spark</p>
                <ul class="list-inline">
                    <li class="list-inline-item"><a href="#">Home</a></li>
                    <li class="list-inline-item"><a href="#">Support</a></li>
                    <li class="list-inline-item"><a href="#">FAQ</a></li>
                    <li class="list-inline-item"><a href="#">Contact</a></li>
                </ul>
            </footer>
        </div>
    </div>
</div>
<div id="chart-pie" class="margin-20" style="height: 300px; "></div>
<script src="../js/pages/dashboard.js"></script>

