@{
    ViewData["Title"] = "Home Page";
}
<div class="page-body">
    <div class="container-fluid">
        <div class="page-sidebar toggled sidebar">
            <nav class="sidebar-collapse d-none d-lg-block">
                <i class="ion ion-ios-arrow-forward show-on-collapsed"></i>
                <i class="ion ion-ios-arrow-back hide-on-collapsed"></i>
            </nav>
            <ul class="nav nav-pills nav-stacked" id="sidebar-stacked">
                <li class="d-lg-none">
                    <a href="#" class="sidebar-close"><i class="ion ion-ios-arrow-left"></i></a>
                </li>
                <li class="nav-item active">
                    <a class="nav-container dropdown-toggle" data-toggle="collapse" data-parent="#sidebar-stacked" href="#p2">
                        <i class="fa fa-street-view"></i> <span class="nav-text">Current Operations</span>
                    </a>
                    <ul class="nav nav-pills nav-stacked open" id="p2">
                        <li class="nav-item"><a class="nav-link" href="../Operations/Operation1">Honey Badger</a></li>
                        <li class="nav-item"><a class="nav-link" href="../Operations/Operation2">Yoda</a></li>
                    </ul>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="index.html"><i class="fa fa-plus"></i> <span class="nav-text">Create Operation</span></a>
                </li>
                <li class="nav-item active">
                    <a class="nav-container dropdown-toggle" data-toggle="collapse" data-parent="#sidebar-stacked" href="#p3">
                        <i class="fa fa-history"></i> <span class="nav-text">Past Operations</span>
                    </a>
                    <ul class="nav nav-pills nav-stacked collapse" id="p3">
                        <li class="nav-item"><a class="nav-link" href="../Operations/Operation3">Luke Skywalker</a></li>
                        <li class="nav-item"><a class="nav-link" href="../Operations/Operation4">Princess Leia</a></li>
                    </ul>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="index.html"><i class="fa fa-map-signs"></i> <span class="nav-text">Standard Routes</span></a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="index.html"><i class="ion ion-gear-b"></i> <span class="nav-text">Admin</span></a>
                </li>
            </ul>
        </div>
        <div class="page-content">
            <div class="row">
                <div class="col-md-9 col-sm-8">
                    <div class="card card-default widget">
                        <div class="card-heading">
                            <div class="card-controls">
                                <a href="#" class="widget-minify"><i class="fa fa-chevron-up"></i></a>
                                <a href="#" class="widget-close"><i class="fa fa-times"></i></a>
                            </div>
                            <h3 class="card-title">Operations</h3>
                        </div>
                        <div class="card-body">
                            <!--ArcGIS test-->
                            <div style="height: 400px" id="simple-map-div"></div>
                        </div>
                    </div>
                </div><!-- /.col-md-9 -->
                <div class="col-md-3 col-sm-4">
                    <div class="panel card-default widget">
                        <div class="card-heading">
                            <div class="card-controls">
                                <a href="#" class="widget-minify"><i class="fa fa-chevron-up"></i></a>
                                <a href="#" class="widget-close"><i class="fa fa-times"></i></a>
                            </div>
                            <h3 class="card-title">Operations</h3>
                        </div>
                        <div class="card-body">
                            <div id="chart-pie" class="margin-20" style="height: 300px;"></div>
                            <div class="chart-legend pull-right">
                                <div class="item">
                                    <div class="color background-success"></div> Current
                                </div>
                                <div class="item">
                                    <div class="color background-info"></div> Past
                                </div>
                                <div class="item">
                                    <div class="color background-warning"></div> Future
                                </div>
                            </div>
                        </div>
                    </div>
                </div><!-- /.col-md-3 -->
            </div>
            <footer class="site-footer text-center">
                <p>&copy; 2018 Spark</p>
                <ul class="list-inline">
                    <li class="list-inline-item"><a href="#">Home</a></li>
                    <li class="list-inline-item"><a href="#">Support</a></li>
                    <li class="list-inline-item"><a href="#">FAQ</a></li>
                    <li class="list-inline-item"><a href="#">Contact</a></li>
                </ul>
            </footer>
        </div>
    </div>
</div>
<div id="chart-pie" class="margin-20" style="height: 300px; "></div>
<script src="../js/pages/dashboard.js"></script>

